<div class="container">
    <!-- Scrollspy -->
    <div class="row">
        <div class="col-12 text-center my-5">
            
            <h1 class="display-3">
                <i class="fa fa-code text-primary"></i>
                Seja bem vindo
            </h1>
            <p>
                Ao sistema de apresentação do Romy, analista programador e desenvolvedor.
                Sonhando por um mundo melhor e sustentável.
            </p>
        </div>
    </div>
    <div class="row mb-5">
            <div class="col-3">
                <nav id="navbarVertical" class="navbar navbar-light bg-light">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item1">Lorem ipsun 1</a>
                        <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3" href="#item1-1">Sub lorem ipsun 1.1</a>
                                <a class="nav-link ml-3" href="#item1-2">Sub lorem ipsun 1.2</a>
                        </nav>
                        <a class="nav-link my-2" href="#item2">Lorem ipsun 2</a>
                        <a class="nav-link my-2" href="#item3">Lorem ipsun 3</a>
                        <nav class="nav nav-pills flex-column">
                                <a class="nav-link ml-3" href="#item3-1">Sub lorem ipsun 3.1</a>
                                <a class="nav-link ml-3" href="#item3-2">Sub lorem ipsun 3.2</a>
                        </nav>
                    </nav>
                </nav>
            </div>
            <div class="col-9">
                <div data-spy="scroll" data-target="#navbarVertical" data-offet="0" class="scrollspySite">
                    <h4 id="item1">Lorem Ipsum Item 1</h4>
                    <p>
                        É simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                    </p>
                    <h5 id="item1-1">Subtitulo 1.1</h5>
                    <p>Texto 1.1</p>
                    <h5 id="item1-2">Subtitulo 1.2</h5>
                    <p>Texto 1.2</p>

                    <h4 id="item2" class="my-2">
                        Lorem Ipsum Item 2
                    </h4>
                    <p>
                        Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC
                    </p>
                    
                    <h4 id="item3" class="my-2">Lorem Ipsum Item 3</h4>
                    <p>
                            Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem nem um pouco convincentes.
                    </p>    
                    <h5 id="item3-1">Subtitulo 3.1</h5>
                    <p>Texto 3.1</p>
                    <h5 id="item3-2">Subtitulo 3.2</h5>
                    <p>Texto 3.2</p>
                </div>
            </div>
    </div> 
    <!--Fim Scrollspy -->

    <!-- Cards -->
    <div class="row mb-5">

        <!-- Card 1 -->
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../assets/imgs/cards/img01.png" />
                <div class="card-body">
                    <h4 class="card-title">Titulo card 1</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Subtitulo card 1</h6>
                    <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Item 1 Card 1</li>
                    <li class="list-group-item">Item 2 Card 1</li>
                    <li class="list-group-item">Item 3 Card 1</li>
                </ul>
                <div class="card-body">
                    <a class="card-link" href="#">Link 1</a>
                    <a class="card-link" href="#">Link 2</a>
                </div>

                <div class="card-footer text-muted">
                    Rodapé do card 1
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../assets/imgs/cards/img02.png" />
                <div class="card-body">
                    <h4 class="card-title">Titulo card 2</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Subtitulo card 1</h6>
                    <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Item 1 Card 2</li>
                    <li class="list-group-item">Item 2 Card 2</li>
                </ul>
                <div class="card-body">
                    <a class="card-link" href="#">Link 1</a>
                    <a class="card-link" href="#">Link 2</a>
                </div>

                <div class="card-footer text-muted">
                    Rodapé do card 2
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-sm-4">
            <div class="card">
                    <img class="card-img-top" src="../assets/imgs/cards/img03.png" />
                    <div class="card-body">
                        <h4 class="card-title">Titulo card 3</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Subtitulo card 1</h6>
                        <p class="card-text">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Item 1 Card 3</li>
                        <li class="list-group-item">Item 2 Card 3</li>
                        <li class="list-group-item">Item 3 Card 3</li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link" href="#">Link 1</a>
                        <a class="card-link" href="#">Link 2</a>
                    </div>
                    <div class="card-footer text-muted">
                        Rodapé do card 3
                    </div>
            </div>
        </div>
    </div>
    <!-- Fim Cards -->
</div>